<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="irAlTPV()" class="tpv-button">
        <ion-icon name="restaurant-outline" slot="icon-only"></ion-icon>
        <ion-label class="tpv-text">TPV</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ restaurantName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" class="logout-button">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
        <ion-label class="logout-text">Salir</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="nav-modern">
    @for (item of menuItems; track item.valor) {
    <div class="nav-item" [class.active]="opcionSeleccionada === item.valor" (click)="seleccionarOpcion(item.valor)">
      <ion-icon [name]="item.icono" class="nav-icon"></ion-icon>
      <span class="nav-label">{{ item.nombre }}</span>
    </div>
    }
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-container">
    @switch (opcionSeleccionada) {
      @case ('usuarios') {<app-usuarios/>}
      @case ('familias') {<app-familias/>}
      @case ('productos') {<app-productos/>}
      @case ('impuestos') {<app-impuestos/>}
      @case ('zonas') {<app-zonas/>}
      @case ('mesas') {<app-mesas/>}
    }
  </div>
</ion-content>